// Custom update for VIP76.mn update

// Variables undsen ungu
$main-color: #fff;

$main-font-size: 12px;

// main fonts


// Үндсэн саарал
$gray-color: #484d5b;

// used for sub title 
$gray-color2:#f5f5f5;

$title-gray-color1:#24252f;
$title-gray-color2: #797c85;

// home title bg, home box-bg: #f5f5f5, 797c85
// home subtitle bg: #fcfcfc
// home button bg: #cccccc

$blue-color: #00315f;
// Used for Titles and Navbar color
$blue-color2: #0f5392;

$red-color: #c42026;



// Navigation bar 
$nav-text-color: $main-color;

$main-menu-color-list:  $main-color, '#000';

$main-menu-height: 39px;

// funcitons 

// partials

// menus

// components!

//top menu old css here
.topmstatus {
    background: $blue-color2;
    color: $main-color;
    height: $main-menu-height;    
    line-height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;

    .list_horz { 
        margin-top: 7px;
    }
    
    ul {
        list-style: none;
        float: right;
    }

    .list_horz li {
        float: left;
        margin-right: 10px;

        a {    
            color: $main-color;
            display: inline-block;
            text-align: center;
            width: 110px;    
        }
    }

    .user_menu {
        float: right;
        font-size: $main-font-size;
        
        li:first-child a {
            border-right: 1px solid $main-color;
            padding-right: 10px;
        }

        li a {
            width: auto;
            border: none;
            color: $main-color;
        }
    }
    
}

.top_font_normal{
    text-transform: none !important; 
    font-size: $main-font-size;
}

@media (max-width: 768px) {
	.top_font_normal{
	    font-size: 11px;
	}
}

/*       BANNER HERE */

.logo {
    position: relative;
    background: url(../img/logo.png?v=1) no-repeat;
    height: 80px;
    display: block;
    width: 200px;
    margin-bottom: 15px;
    float: left
}

#top{
    background: #00315f;
    padding-top: 55px;
}

.headbanner{
    height: 75px;
    width: 610px;
    float: right;
    margin-top: 5px;
}


.logo .slag {
    position: absolute;
    color: #fff;
    font-size: 22px;
    font-weight:300;
    text-transform: uppercase;
    bottom: 15px;
    top: 30px;
    left:100%;
    padding-left: 10px;
    white-space: nowrap;
    font-stretch: expanded;
}

// Menu here 
#mainmenu{
    background: #fff;
    border-bottom: 2px solid #eeeeee;
}

.mainmenu ul {    
    margin-bottom: 0;
    list-style-type: none;
    box-sizing:border-box;    
}

.mainmenu ul > li {
    float: left;
}

.mainmenu ul li:first-child {
    border-left: 1px solid #eeeeee;
}

.mainmenu ul li {
    border-right: 1px solid #eeeeee;
}

.mainmenu li {
    display: block;
    position:relative;    
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.mainmenu li a {
    display: block;
    position: relative;
    color: #111111;
    font-size: 14px;
    font-weight: 700;
    z-index: 102;
    text-transform: uppercase;
    text-decoration: none;
    cursor: hand;    
    padding: 19px 25px 0;
    height: 56px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.mainmenu li a:hover{    
    color:#fff;
    background-color: #0f5392;
}

.search-box{
    float: right;
    min-width: 280px;
    margin-top: 0px;
}

.search-bar{
    position: relative;
    margin-bottom: 0;
}

#search-control {
    /* box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12); */
    border-color: #f1f1f1;
    background-color: #ffffff;
    border-radius: 0;
    background: #fcfcfc;
    height: 56px;
    color: #666666;
    display: block;
    width: 100%;
    position: relative;
    padding-right: 42.5px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #fff;
    border-top: none;    
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-control-box {
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 56px !important;
    top: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    text-align: center;
}

@media (max-width: 768px){
    .mainmenu{
        text-align: center;
    }

    .mainmenu ul {
        display: table;
        float: none;
        margin: 0 auto;
    }

    .mainmenu ul li a {
        padding: 7px 7px 0;
        height: 25px;
        font-size: 10px;
    }

    #profile-menu{
        text-align: center;
    }

}
// end Menu