.bg-home{
	padding-top: 50px;
	border-top: 1px solid #ccc;
	background-image: url('../img/pattern.png');
	background-repeat: repeat;  
	
}

.intro{
	margin: 40px 0;
}

.intro .soymbo{
	text-align: center;
	padding-bottom: 15px;
}
.intro .tabs{
	margin-bottom: 35px;
	text-align: center;
}
.intro .tabs a{
	display: inline-block;
	border-right: 1px solid #eeeeee;	
	padding:0 20px;
	/* -webkit-border-radius: 2px;
	-moz-border-radius: 2px; */
	/* border-radius: 2px; */
	color: #24252f;
	min-width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-transform: uppercase;
}
.intro .tabs a.active,
.intro .tabs a:hover{
	text-decoration: none;
	color: #fff;
	background: #0f5392;
	border-color: #0f5392;
}

.intro .title{
	font-size: 30px;
	text-transform: uppercase;
	color: #242424;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 500;
	line-height: 1.1em;
}
.intro .date{
	text-align: center;
	margin-top: 0;/*20px*/
	font-size: 14px;
	font-weight: 400;
}
.intro .date a{
	font-size: 14px;
	display: inline-block;
	margin: 0 10px;
	color: #242424;
	text-decoration: none;
}
.intro .title .date a:hover{
	color: #022950;
}
.intro .user{
	margin-right: -12px;
	margin-left: -12px;
	margin-bottom: 70px;
}
.intro .user .item_wrap{
	padding-left: 9px;
	padding-right: 9px;
	float: left;
	width: 6%;
	
}
.intro .user .item_wrap .item{
	margin-bottom: 12px;
	min-height: 5px;
	width: 100%;
	position: relative;
}
.intro .user .item_wrap .item .name{
	position: absolute;
	top: 100%;
	left: 50%;
	font-size: 10px;
	text-transform: uppercase;
	color: #022950;
	display: none;
	z-index: 2;
	text-align: center;
	width: 120px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #022950;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	margin-left: -60px;
}
.intro .user .item_wrap .item:hover .name{ 
	display: inline-block;
}
.intro .user .item_wrap .item img{
	max-width: 100%;
	height: auto;
}
.intro .user .item_wrap .item img{
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */	
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: transform .25s ease;
}

.intro .user .item_wrap .item img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
	transform: scale(1.20);
	transition: transform .25s ease;
  }

@media (min-width: 768px) {
	.intro .user .item_wrap:first-child{
		margin-left: 9.2%;
	}

	.intro .user .item_wrap:nth-child(13){
		margin-right: 9%
	}

	.intro .user .item_wrap:nth-child(14){
		margin-left: 9.2%;
	}

	.intro .user .item_wrap:nth-child(26){
		margin-right: 8%;
	}

	.intro .user .item_wrap:nth-child(27){
		margin-left: 9.2%;
	}

	.intro .user .item_wrap:nth-child(39){
		margin-right: 8%;
	}
	.intro .user .item_wrap:nth-child(40){
		margin-left: 9.2%;
	}
	.intro .user .item_wrap:nth-child(52){
		margin-right: 8%;
	}

	.intro .user .item_wrap:nth-child(53){
		margin-left: 9.2%;
	}
	
	.intro .user .item_wrap:nth-child(65){
		margin-right: 8%;/*21*/
	}
	
	.intro .user .item_wrap:nth-child(66){
		margin-left: 15.48%;
	}
	
	.intro .user .item_wrap:nth-child(76){
		margin-right: 8%;
	}
	
		

}
/********************************------------------------------------*/
.intro .inews{
	width: 100%;
	height: 175px;
	background: #022950;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	padding: 10px;
	margin-bottom: 20px;
}
.intro .inews .title{
	color: #fff;
	font-size: 12px;
	min-height: 35px;
	text-align: left;
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 10px;
}
.intro .inews .title strong{
	font-weight: 700;
}
.intro .inews .user_img{
	float: left;
	margin-right: 10px;
}
.intro .inews .content_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
/*
.intro .inews.laws{
	overflow-y: hidden;
} */
.intro .inews.laws .content{
	padding-left: 40px;
	padding-right: 15px;
	height: 110px;
	overflow-y: auto;
}
.intro .inews.laws .content a{
	display: block;
	font-weight: 700;
	color: #fff;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin-bottom: 10px;
}
.intro .inews.laws .content a:last-child{
	border-bottom: none;
}
.intro .inews.laws .content a:hover{
	text-decoration: underline;
}
@media (max-width: 767px) {
	.intro .tabs a{
		margin-bottom: 12px;
	}
	.intro .user .item_wrap{
		width: 9%;
	}
}